@model AspNetMvcBlogv2.Business.Dtos.PostDtos.PostCommentAddDto
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<div class="card">
  <div class="card-title">
    <h2>Add Comment</h2>
  </div>
  <div class="card-body">

    <form method="post">
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Create Id</label>
            <input value="@Guid.NewGuid()" class="form-control" asp-for=Id readonly />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Post Id</label>
            <input value="@ViewBag.PostId" class="form-control" asp-for=PostId readonly />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>User</label>
            <select name="SelectedUserId" id="SelectedUserId" class="form-control">
              <option value="">Select a User</option>
              @foreach (var item in ViewBag.UserList as SelectList)
              {
                <option value="@item.Value">@item.Text</option>
              }
            </select>
          </div>
        </div>
      </div>

      <input type="hidden" id="SelectedUserIdHidden" name="UserId" value="">


      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <label>Content</label>
            <input value="" asp-for=Content class="form-control" />
          </div>
        </div>
      </div>



      <div class="row">
        <div class="col-lg-6">
          <div class="form-group" style="margin-top:10px">
            <button type="submit" asp-area="Admin" asp-controller="Blog" asp-action="CommentAdd" class="btn btn-success">Add</button>
            <a asp-area="Admin" asp-controller="Blog" asp-action="CommentIndex" asp-route-id="@ViewBag.PostId" class="btn btn-danger">Cancel</a>
          </div>
        </div>
      </div>
    </form>



  </div>

</div>

@section Scripts{

  <script>
    document.getElementById("SelectedUserId").addEventListener("change", function () {
      var selectedValue = this.value;
      document.getElementById("SelectedUserIdHidden").value = selectedValue;
    });
  </script>

}