@model AspNetMvcBlogv2.Persistence.Entity.Post


<div class="col-lg-3 col-md-6">
	<article class="post-grid mb-5">
		@if (Model.Images != null && Model.Images.Any())
		{
			<a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.Id">
				<img src="@Model.Images.First().ImageUrl" alt="@Model.Images.First()" class="img-fluid blog-image">
			</a>

		}
		@foreach(var categorypost in Model.CategoryPosts)
		{
			<span class="cat-name text-color font-sm font-extra text-uppercase letter-spacing">@categorypost.Category.Name</span>
		}
		
		<h3 class="post-title mt-1"><a asp-area="" asp-controller="Blog" asp-action="Detail" asp-route-id="@Model.Id">@Model.Title</a></h3>
		<span class="text-muted letter-spacing text-uppercase font-sm">@Model.PublishedAt.ToShortDateString()</span>
	</article>
</div>