  <!--search overlay end-->
@model AspNetMvcBlogv2.Persistence.Entity.Post

<section class="single-block-wrapper section-padding">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="single-post">
          <div class="post-header mb-5 text-center">
            <div class="meta-cat">
              @foreach (var categoryPost in Model.CategoryPosts)
              {
                <a class="post-category font-extra text-color text-uppercase font-sm letter-spacing-1" href="#">@categoryPost.Category.Name</a>
              }

            </div>
            <h2 class="post-title mt-2">
              @Model.Title
            </h2>

            <div class="post-meta">
              <span class="text-uppercase font-sm letter-spacing-1 mr-3">by Liam</span>
              <span class="text-uppercase font-sm letter-spacing-1">January 17,2019</span>
            </div>
            <div class="post-featured-~/images mt-5">
              @if (Model.Images != null && Model.Images.Any())
              {
                <img src="@Model.Images.First().ImageUrl" alt="@Model.Images.First()" class="img-fluid w-100">
              }
            </div>
          </div>
          <div class="post-body">
            <div class="my-2">
              @Model.Content
            </div>
            

            <div class="tags-share-box center-box d-flex text-center justify-content-between border-top border-bottom py-3">

              <span class="single-comment-o">
                <i class="fa fa-comment-o"></i>    @if (Model.Comments.Count() == 1)
                {
                  <text>@Model.Comments.Count() comment</text>
                }
                else
                {
                  <text>@Model.Comments.Count() comments</text>
                }
              </span>

              <div class="post-share">
                <span class="count-number-like">2</span>
                <a class="penci-post-like single-like-button"><i class="ti-heart"></i></a>
              </div>

              <div class="list-posts-share">
                <a target="_blank" rel="nofollow" href="#"><i class="ti-facebook"></i></a>
                <a target="_blank" rel="nofollow" href="#"><i class="ti-twitter"></i></a>
                <a target="_blank" rel="nofollow" href="#"><i class="ti-pinterest"></i></a>
                <a target="_blank" rel="nofollow" href="#"><i class="ti-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>



      </div>



      <div class="comment-area my-5">
        <h3 class="mb-4 text-center">
          @if (Model.Comments.Count() == 1)
          {
            <text>@Model.Comments.Count() comment</text>
          }
          else
          {
            <text>@Model.Comments.Count() comments</text>
          }
        </h3>

        @foreach(var comment in Model.Comments)
        {
          <div class="comment-area-box media">
            <img alt="" src="@comment.User.ProfilePictureURL" class="img-fluid float-left mr-3 mt-2">

            <div class="media-body ml-4">
              <h4 class="mb-0">Micle harison </h4>
              <span class="date-comm font-sm text-capitalize text-color"><i class="ti-time mr-2"></i>June 7, 2019 </span>

              <div class="comment-content mt-3">
                <p>@comment.Content</p>
              </div>

            </div>
          </div>
        }




      <form class="comment-form mb-5 gray-bg p-5" id="comment-form">
        <h3 class="mb-4 text-center">Leave a comment</h3>
        <div class="row">
          <div class="col-lg-12">
            <textarea class="form-control mb-3" name="comment" id="comment" cols="30" rows="5" placeholder="Comment"></textarea>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="text" name="name" id="name" placeholder="Name:">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input class="form-control" type="text" name="mail" id="mail" placeholder="Email:">
            </div>
          </div>
        </div>

        <input class="btn btn-primary" type="submit" name="submit-contact" id="submit_contact" value="Submit Message">
      </form>

    </div>

  </div>
  </div>
</section>
